body{
    background-color: blue;
}

.container{
    background-color: rgb(240, 240, 240);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
    border: black solid 2px;
}

.grid-container > div {
text-align: center;
padding: 20px 0;
font-size: 30px;
border: black solid;
grid-column: 1 / span 2;
border: black solid;

}

.item1 {
grid-column: 1 / span 2;
border: black solid;
background-color: dodgerblue;
}

.item3{
    padding: 0px;
}

.breiting{
    padding: 0px;
}
